* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: #111b21;
}

#app {
    height: 100%;
    width: 100%;
    background-color: #111b21;
        color: aliceblue;
}

.btn{
    margin: 3px;
}


html::-webkit-scrollbar {
    display: none;
}


html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
