@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --tw-bg-opacity: 1;
    background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}

.MuiCardHeader-content {
    text-align: start;
}