@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --tw-bg-opacity: 1;
    background-color: rgb(17 27 33 / var(--tw-bg-opacity));

    scroll-behavior: smooth;
}

.MuiCardHeader-content {
    text-align: start;
}

.imgPreview {
    max-width: 20vw !important;
    height: auto;
}

#btnCamera:active {
    animation: cameraBtnAnimation 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.mapSqueal {
    height: 50vh !important;
    width: 100%;
}

@keyframes cameraBtnAnimation {
    0% {
        transform: scale(0.8);
        opacity: 0.2;
    }

    60% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.secondary-menu {
    transform: translate(100%, 0);
    animation: secondaryMenuAnimation .4s;
}

@keyframes secondaryMenuAnimation {
    0% {
        transform: translate(-10%, 0);
        opacity: 0.2;
    }

    100% {
        transform: translate(100%, 0);
        opacity: 1;
    }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-500;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-700
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-800;
}
